:root {
    --filter-map-base-layer: none;
    --color-scheme: none;

    /* Black */
    --black: rgba(0, 0, 0, 1);
    --black-900: rgba(31, 31, 31, 1);
    --black-800: rgba(38, 38, 38, 1);
    --black-700: rgba(67, 67, 67, 1);
    --black-600: rgba(89, 89, 89, 1);
    --black-500: rgba(140, 140, 140, 1);
    --black-400: rgba(191, 191, 191, 1);
    --black-300: rgba(217, 217, 217, 1);
    --black-200: rgba(240, 240, 240, 1);
    --black-100: rgba(245, 245, 245, 1);
    --black-50: rgba(250, 250, 250, 1);

    /* White */
    --white: rgba(255, 255, 255, 1);
    --white-80: rgba(255, 255, 255, .8);
    --white-90: rgba(255, 255, 255, .9);

    /* Danger */
    --danger-700: rgba(236, 45, 48, 1);
    --danger-600: rgba(246, 76, 76, 1);
    --danger-500: rgba(235, 111, 112, 1);
    --danger-400: rgba(244, 152, 152, 1);
    --danger-300: rgba(255, 204, 210, 1);
    --danger-200: rgba(255, 235, 238, 1);
    --danger-100: rgba(254, 242, 242, 1);
    --danger-50: rgba(255, 251, 251, 1);

    /* Warning (Reinterpreted as Soft Blue Alert) */
    --warning-700: rgba(36, 61, 89, 1);
    --warning-600: rgba(56, 85, 123, 1);
    --warning-500: rgba(78, 108, 146, 1);
    --warning-400: rgba(120, 146, 180, 1);
    --warning-300: rgba(163, 185, 210, 1);
    --warning-200: rgba(207, 222, 236, 1);
    --warning-100: rgba(233, 241, 249, 1);
    --warning-50: rgba(245, 248, 252, 1);

    /* Success */
    --success-700: rgba(12, 157, 97, 1);
    --success-600: rgba(71, 184, 129, 1);
    --success-500: rgba(107, 196, 151, 1);
    --success-400: rgba(151, 212, 180, 1);
    --success-300: rgba(192, 229, 209, 1);
    --success-200: rgba(229, 245, 236, 1);
    --success-100: rgba(242, 250, 246, 1);
    --success-50: rgba(251, 254, 252, 1);

    /* Info */
    --info-700: rgba(58, 112, 226, 1);
    --info-600: rgba(59, 130, 246, 1);
    --info-500: rgba(75, 161, 255, 1);
    --info-400: rgba(147, 200, 255, 1);
    --info-300: rgba(189, 221, 255, 1);
    --info-200: rgba(228, 242, 255, 1);
    --info-100: rgba(241, 248, 255, 1);
    --info-50: rgba(248, 252, 255, 1);

    /* Infographics */
    --infographics-blue-gray: rgba(183, 194, 206, 1);
    --infographics-brown: rgba(139, 87, 42, 1);
    --infographics-siena: rgba(131, 29, 35, 1);
    --infographics-indian-red: rgba(207, 89, 89, 1);
    --infographics-red-sand: rgba(244, 146, 74, 1);
    --infographics-sandy: rgba(249, 207, 95, 1);
    --infographics-fuchsia: rgba(222, 65, 225, 1);
    --infographics-turquoise: rgba(70, 197, 237, 1);
    --infographics-cornflower: rgba(84, 133, 207, 1);
    --infographics-jade: rgba(53, 165, 104, 1);
    --infographics-link: rgba(85, 26, 139, 1);

    /* Fonts */
    --font-h1: normal normal 600 20px / 24px Inter;
    --font-h2: normal normal 600 18px / 22px Inter;
    --font-h3: normal normal 600 16px / 16px Inter;
    --font-title: normal normal 600 14px / 16px Inter;
    --font-subtitle: normal normal 600 12px / 1 Inter;
    --font-body: normal normal 400 14px / 16px Inter;
    --font-body-bold: normal normal 500 14px / 16px Inter;
    --font-caption: normal normal 400 12px / 16px Inter;
    --font-small: normal normal 400 12px / 11px Inter;
    --font-micro: normal normal 400 10px / 12px Inter;

    /* Colors */
    /* Brand (Blue) */
    --brand-700: rgba(36, 96, 190, 1);     /* насыщенный чистый синий */
    --brand-600: rgba(56, 130, 230, 1);    /* hover цвет */
    --brand-500: rgba(85, 160, 245, 1);    /* основной фон кнопки */
    --brand-400: rgba(120, 185, 250, 1);   /* наводка или вторичный элемент */
    --brand-300: rgba(162, 210, 252, 1);   /* фон блоков */
    --brand-200: rgba(201, 230, 254, 1);   /* фон карточек/вторичный */
    --brand-100: rgba(230, 245, 255, 1);   /* почти белый */
    --brand-50: rgba(244, 250, 255, 1);    /* светлее некуда */

}


